@font-face {
    font-family: 'Karla';
    src: url(Karla-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Inter';
    src: url(Inter-VariableFont_opsz\,wght.ttf);
}
.container {
    width: 550px;
    height: 550px;
    background-color: #075985;
    border: 10px solid black;
    border-radius: 5px;
}

#mainHead {
    font-family: 'Karla';
    width: 370px;
    font-size: 40px;
    font-weight: 800;
    color: #1F2937;
    margin: 0 0 10px 0;
}
.innerContent {
    padding: 110px 52px 0px 52px;
}
p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    color: #1F2937;
}

#green {
    color: #FBBF24;
    
}
#quip {
    margin: 0px;
}

#passwordBtn {
    width: 220px;
    font-family: 'Inter';
    padding: 16px 13px;
    background-color: #FBBF24;
    border-radius: 10px;
    border: none;
    color:#1F2937;
    font-size: 18px;
    margin: 80px auto auto auto;
    cursor: pointer;
}


hr {
    border-color: #FBBF24;
    margin: 40px 0 0 0;
}

#genPass {
    display:flex;
    justify-content: space-between;
    margin: 0 52px 0 52px;
}

#pass1 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FBBF24;
    width:210px;
    height:40px;
    text-align: center;
    margin: 40px 0 0 0;
    border-radius: 10px;
}
#pass2 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FBBF24;
    width:210px;
    height:40px;
    text-align: center;
    margin: 40px 0 0 0;
    border-radius: 10px;
}